<div class="comments">
    {{#each this}}
    <section class="comments">
       <b> <div class="meta">{{user.username}} on {{format_date created_at}}: </b> <em>{{comment_text}}</em> 

        <br>
        </div>
    <br>
    </section>
    {{/each}}
</div>